.mainContainer {
    height: 100vh;
    width: 100vw;
    background-image: url("../../../public/Portada.jpg");
    background-position: center;
    background-size: cover;
}

.presentacion {
    width: 60vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentacion h1 {
    color: #cfcfcf;
    text-shadow: none;
    font-size: 5rem;
}