/* Navbar.module.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    /* Color de fondo para el navbar */
    color: white;
    /* Color del texto en el navbar */
}

.productLink,
.viewCartLink {
    text-decoration: none;
    color: white;
    /* Color del texto en los enlaces */
    display: flex;
    align-items: center;
    margin-right: 20px;
    /* Espacio entre los enlaces */
}

.viewCartLink {
    /* Estilos adicionales para el enlace de Ver Carrito */
    background-color: #007bff;
    /* Color de fondo para el enlace de Ver Carrito */
    padding: 5px 10px;
    border-radius: 5px;
}

.viewCartLink:hover {
    /* Estilo al pasar el ratón sobre el enlace de Ver Carrito */
    background-color: #0056b3;
    /* Cambia el color de fondo al pasar el ratón */
}

/* Agrega estilos específicos según sea necesario */